<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="shortcut icon" th:href="@{/imgs/logo.ico}">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons-1.7/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/myStyle.css}">
    <link rel="stylesheet" th:href="@{/css/loginbg.css}">
    <script type="text/javascript" th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <style>
        body {
            background-image: url('/imgs/login.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            min-height: 96vh;
            width: 100%;
        }

        .logo {
            height: 180px;
            width: 150px;
        }

        .card {
            background-color: rgba(255, 255, 255, 0.6);
            height: 450px;
            width: 500px;
        }

        .card-header {
            background-color: #f8f9fa;
        }

        .form-control:focus {
            box-shadow: none;
            border-color: rgba(255, 192, 203, 0.94);
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <img th:src="@{/imgs/logo.png}" class="logo">
        <div class="card p-4 position-absolute top-50 start-50 translate-middle shadow p-3 mb-5  rounded">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link text-danger active" id="login-tab" data-bs-toggle="tab" href="#login"
                            role="tab" aria-controls="login" aria-selected="true">登录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#register" role="tab"
                            aria-controls="register" aria-selected="false">注册</a>
                    </li>
                </ul>
            </div>
            <div class="card-body mt-3 py-3">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <h2>登录</h2>
                        <form id="loginForm">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="请输入用户名" name="username" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="请输入密码" name="password" required>
                            </div>
                            <div class="mb-3">
                                <input type="checkbox" class="form-check-input" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">记住我</label>
                            </div>
                            <button type="button" class="btn btn-outline-danger w-100" id="loginButton">登 录</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        <h2>注册</h2>
                        <form id="registerForm">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="设置用户名" name="username" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="设置密码" name="password" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="确认密码" name="confirmPassword" required>
                            </div>

                            <button type="button" class="btn btn-outline-danger w-100" id="registerButton">注册</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="alertPlaceholder" class="container mt-3"></div>
    </div>
    <script>
        function setCookie(name, value) {
            const d = new Date();
            d.setTime(d.getTime() + (60 * 60 * 1000));
            const expires = "expires=" + d.toUTCString();
            document.cookie = name + "=" + value + ";" + expires + ";path=/";
        }
        function getCookie(name) {
            const nameEQ = name + "=";
            const ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        document.addEventListener('DOMContentLoaded', function () {
            var loginTab = document.getElementById('login-tab');
            var registerTab = document.getElementById('register-tab');
            var loginContent = document.getElementById('login');
            var registerContent = document.getElementById('register');

            loginTab.addEventListener('click', function () {
                loginTab.classList.add('active', 'text-danger');
                registerTab.classList.remove('active', 'text-danger');

                loginContent.classList.add('show', 'active');
                registerContent.classList.remove('show', 'active');
            });

            registerTab.addEventListener('click', function () {
                registerTab.classList.add('active');
                registerTab.classList.add('text-danger');
                loginTab.classList.remove('active', 'text-danger');

                registerContent.classList.add('show', 'active');
                loginContent.classList.remove('show', 'active');
            });
            // 检查sessionStorage和Cookie中是否有用户信息
            const sessionUsername = sessionStorage.getItem('username');
            const cookieUsername = getCookie('username');
            if (cookieUsername) {
                window.location.href = '/user/successLogin'
            }
            if (sessionUsername) {
                window.location.href = '/user/successLogin'
            }
            document.querySelector('#loginButton').addEventListener('click', function () {
                const form = document.querySelector('#loginForm');
                const username = form.querySelector('input[name="username"]').value;
                const password = form.querySelector('input[name="password"]').value;
                const rememberMe = form.querySelector('#rememberMe').checked;

                fetch('/user/selectUserName', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ userName: username, userPassword: password })
                })
                    .then(response => response.text())
                    .then(result => {
                        let message = '';
                        if (result === '-1') {
                            message = '用户名或密码不能为空';
                        } else if (result === '0') {
                            message = '用户不存在';
                        } else if (result === '1') {
                            message = '账号或密码输入错误';
                        } else if (result === '2') {
                            message = '成功登录';
                            if (rememberMe) {
                                setCookie("username", username)
                            }
                            sessionStorage.setItem('username', username);
                            window.location.href = '/index'; // 跳转到index.html
                        }
                        showAlert(message, result === '2' ? 'success' : 'danger');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        showAlert('请求失败，请重试', 'danger');
                    });
            });
            document.querySelector('#registerButton').addEventListener('click', function () {
                const form = document.querySelector('#registerForm');
                const username = form.querySelector('input[name="username"]').value;
                const password = form.querySelector('input[name="password"]').value;
                const confirmPassword = form.querySelector('input[name="confirmPassword"]').value;

                if (password !== confirmPassword) {
                    showAlert('两次输入的密码不一致', 'danger');
                } else if (username && password) {
                    fetch('/user/addUser', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ userName: username, userPassword: password })
                    })
                        .then(response => response.text())
                        .then(result => {
                            let message = '';
                            if (result === '-1') {
                                message = '注册失败，请重试';
                            } else if (result === '2') {
                                message = '用户已存在';
                            } else if (result === '1') {
                                message = '成功注册';
                                sessionStorage.setItem('username', username);
                                window.location.href = '/index';
                            }
                            showAlert(message, result === '1' ? 'success' : 'danger');
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            showAlert('请求失败，请重试', 'danger');
                        });
                } else {
                    showAlert("账号或密码不能为空","danger")
                }
            });
            // 显示提示框
            function showAlert(message, type) {
                const alertPlaceholder = document.getElementById('alertPlaceholder');
                const wrapper = document.createElement('div');
                wrapper.innerHTML = `<div class="alert alert-${type} alert-dismissible" role="alert">
                                    ${message}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>`;
                alertPlaceholder.append(wrapper);
            }

        });

    </script>
</body>

</html>